[Unit]
Description=A compositor for X11

[Service]
Environment=DISPLAY=%I
ExecStart=/usr/bin/picom
Restart=always
RestartSec=1

[Install]
WantedBy=xinit.target
